/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* 
 * GLOBAL VARIABLES
 */

:root {
  --dark-purple: #301534;
  --pale-purple: #8B6990;
  --pink: #AD28EB;
  --light-pink: #F8EEFF;
  --white: #FFFFFF;
}

/* 
 * PAGE STILES
 */

body {
  background-color: var(--light-pink);

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
}

body .background-img {
  width: 100%;
  height: 232px;
  object-fit: cover;

  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;
}

main {
  min-height: 100vh;
  padding: 142.5px 24px;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.faq-card {
  width: 100%;
  max-width: 600px;
  padding: 24px;
  border-radius: 8px;
  background-color: var(--white);

  display: flex;
  flex-direction: column;
  gap: 24px;

  box-shadow: 0px 32px 56px #5000761a;
}

.faq-card-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}

.faq-card-title img {
  width: 24px;
  height: 24px;
}

.faq-card-title p {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;

  color: var(--dark-purple);
}

.faq-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq-group {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.faq-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: left;

  color: var(--dark-purple);
  font-size: 18px;
  line-height: 21px;

  background: none;
  border: none;
  cursor: pointer;

  transition: color 0.3s ease;
}

.faq-btn:hover {
  color: var(--pink);
}

.faq-btn img {
  max-width: none;
  width: 30px;
  height: 30px;
}

.faq-answer {
  display: none;

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  color: var(--pale-purple);
}

.faq-answer.active {
  display: block;
}


.line {
  height: 1px;
  background-color: var(--light-pink);
}

footer {
  padding: 15px 0;
}

.attribution {
  padding: 10px 12px;
  width: 100%;

  background-color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 5px;

  font-family: 'Work Sans';
  font-size: 16px;
  font-weight: 700;
  color: var(--dark-purple);
  text-align: center;
}

.attribution a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: var(--pink);
  opacity: 0.6;
  transition: opacity 0.5s ease;
}

.attribution a:hover {
  opacity: 1;
}

@media only screen and (min-width: 648px) {
  body .background-img {
    height: 320px;
  }

  main {
    padding: 167.5px 0;
  }

  .faq-card {
    padding: 40px;
    border-radius: 16px;

    gap: 32px;
  }

  .faq-card-title img {
    width: 40px;
    height: 40px;
  }

  .faq-card-title p {
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
  }

  .faq-content {
    gap: 24px;
  }

  .faq-btn {
    font-size: 18px;
    line-height: 21px;

    gap: 0;
  }

  .faq-answer {
    font-size: 16px;
  }
  
  .attribution {
    border-radius: 0 10px 10px 0;
    width: max-content;
  }
}